<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotitrack</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
    <header>
        <div class="logo-title">
            <a href="/">
                <img class="logo" src="/favicon.png"></img>
                <span class="title">Spotitrack</span>
            </a>
        </div>
        <ul class="navbar">
            <li><a href="/tracks/top">Top Tracks</a></li>
            <li><a href="/artists/top">Top Artists</a></li>
            <li><a href="/account">Account</a></li>
        </ul>
        <a href="/login" class="login-button"><button>Login</button></a>
    </header>