<%- include('partials/header') %>

<section>
    Get you favorites tracks and Artists from Spotify
</section>

<div class="container">
    <table class="top-tracks-table">
        <thead>
            <tr>
                <th colspan="2">Titre</th>
                <th class="artist-head">Artiste</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="/images/coveralbumtest.jpg"></td>
                <td>Titre</td>
                <td class="artist">Artiste</td>
            </tr>
            <tr>
                <td><img src="/images/coveralbumtest.jpg"></td>
                <td>Titre</td>
                <td class="artist">Artiste</td>
            </tr>
            <tr>
                <td><img src="/images/coveralbumtest.jpg"></td>
                <td>Titre</td>
                <td class="artist">Artiste</td>
            </tr>
        </tbody>
    </table>
</div>
<footer>

</footer>

</body>

</html>