<%- include('partials/header') %>

<section>
    <p>Get your favorites tracks and Artists from Spotify</p>
    <br />
    <% if (user) { %>
    <p>You can click on Top tracks or Top Artists to see what you have listened the most !</p>
    <% } else { %>
    <p>Please <a href="/login" class="login-button"><button>Login</button></a> to get informations about your listening
        history</p>
    <% } %>
</section>

<div class="container">

</div>

<%- include('partials/footer') %>