@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: 'Montserrat', sans-serif;
}

/*header*/
header {
    color: #edf0f1;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}

li,
a,
button {
    text-decoration: none;
    color: #edf0f1;
}

.logo-title .logo {
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: #197401;
}

.login-button button {
    padding: 10px 20px;
    border: none;
    background-color: rgba(25, 116, 1, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.login-button button:hover {
    background-color: rgba(25, 116, 1, 0.7);
}

.logout-button button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(139, 0, 0, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logout-button button:hover {
    background-color: rgba(139, 0, 0, 0.7);
}

/*Body*/
section {
    color: #edf0f1;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #edf0f1;
}

.top-tracks-table th {
    padding: 40px 120px 40px 120px;
}

.card--artist--text {
    text-align: center;
}

.top-tracks-table img {
    width: 100%;
    margin-right: -60px;
}

.timeRange {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3rem;
}

.timeRange--option {
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.timeRange--option:hover {
    background-color: #17855C;
}

.timeRange--option a {
    background-color: transparent;
}

.top-artists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
}

.card--artist {
    margin-bottom: 2rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    overflow: hidden;
    border: 2px solid #fff;
    background-color: #17855C;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
}

.card--artist:hover {
    transform: scale(1.02);
}

.card--artist-img {
    margin-bottom: -5px;
}

.card--artist--text {
    padding: 0.5rem 0 0.5rem 0;
    background-color: #17855C;
    text-overflow: hidden;
}

footer {
    margin-top: 300px;
}

footer p {
    margin-top: 20px;
    text-align: center;
    color: rgb(156, 156, 156);
}

.footer-bar {
    height: 1px;
    background-color: rgb(156, 156, 156);
    width: 75%;
    margin: auto;
}